<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <select
          name="sender"
          placeholder="sender"
        >
          <option value="none" selected hidden>
        --Select Senders Account---
    </option>
          
        </select>
        <input type="submit" value="Transfer" />
        <select
          name="reciever"
          placeholder="reciever"
        >
          <option value="null" selected hidden>
        --Select Receivers Account--
    </option>
        </select>
        <div className='amount'>
          <input
            name="amount"
            type="number"
            placeholder="Enter Amount"
          />
        </div>
      </form>
</body>
</html>